@media(max-width:1280px) {
    /* kv */
    .kv-title {
        font-size: 60px;
    }
}

@media(max-width:1024px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

}

@media(max-width:768px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

    .kv-sub {
        font-size: 20px;
    }

}

@media(max-width:540px) {
    .kv-title {
        font-size: 36px;
    }

    .kv-sub {
        font-size: 18px;
    }

}

