@media(max-width:1400px) {
    .talent-content-wrap {
        height: auto;
    }

    .talent-content-bg {
        display: none;
    }

    
    .talent-content-box {
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
        justify-content: center;
    }

    .talent-center {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .talent-content {
        position: relative;
    }

    .talent-content h2 {
        width: 170px;
        height: 170px;
    }

    .con01 {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .con02 {
        bottom: 0;
        left: 0;
    }

    .con03 {
        bottom: 0;
        left: 0;
    }
}

@media(max-width:1280px) {
    /* kv */
    .kv-title {
        font-size: 60px;
    }

    /* benefit */
    .benefit-card-text h3 {
        font-size: 30px;
    }
}

@media(max-width:1024px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

    /* talent */
    .talent-text h2 {
        font-size: 45px;
    }

    .talent-content h2 {
        width: 150px;
        height: 150px;
        font-size: 30px;
    }

    /* benefit */
    .benefit-sec .container h2 {
        font-size: 45px;
    }

    .benefit-card {
        width: calc((100% - 16px) / 2);
    }

}

@media(max-width:768px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

    .kv-sub {
        font-size: 20px;
    }

    /* talent */
    .talent-content-wrap {
        margin-top: 50px;
    }

    .talent-content-box {
        gap: 50px;
    }

    .talent-text h2 {
        font-size: 35px;
    }

    .talent-content h2 {
        width: 120px;
        height: 120px;
        font-size: 25px;
    }

    .talent-content p {
        font-size: 18px;
    }

    /* benefit */
    .benefit-sec .container h2 {
        font-size: 35px;
    }

    .benefit-card-list {
        margin-top: 50px;
    }

    .benefit-card img {
        width: 100px;
        height: 100px;
    }

    .benefit-card-text h3 {
        font-size: 25px;
    }

    .benefit-card-text p {
        font-size: 18px;
    }
}

@media(max-width:540px) {
    .kv-title {
        font-size: 36px;
    }

    .kv-sub {
        font-size: 18px;
    }

    /* talent */
    .talent-text h2 {
        font-size: 30px;
    }

    .talent-content h2 {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .talent-content p {
        font-size: 15px;
    }

    /* benefit */
    .benefit-sec .container h2 {
        font-size: 30px;
    }

    .benefit-card {
        padding: 30px 10px;
        width: 100%;
    }

    .mo-hide {
        display: none;
    }

    .benefit-card img {
        width: 60px;
        height: 60px;
    }

    .benefit-card-text {
        margin-top: 10px;
    }

    .benefit-card-text h3 {
        font-size: 20px;
    }

    .benefit-card-text p {
        font-size: 15px;
    }

    .benefit-btn-wrap {
        display: flex;
    }
}

