* {
    box-sizing: border-box;
}

body {
    color: var(--Font-Color);
    font-family: 'Pretendard';
}

li {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

:root {
    --main-color : #4A4167;
    --Secondary-color : #868BC3;
    --Tertiary-color : #EEEFF4;
    --Font-Color : #1B1F33;
    --white-color : #fff;
    --gray-color : #9C9C9C;
    --light-gray-color : #E6E6E6;
    --point-color : #FB7395;
}


/* header */
.header {
    /* background-color: var(--main-color); */
    width: 100%;
    height: 90px;
    position: fixed;
    /* top: 30px; */
    /* left: auto; */
    z-index: 99;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    padding: 20px;
}

.menu-list {
    display: flex;
    gap: 60px;
    font-weight: bold;
    font-size: 20px;
}

.menu:hover {
    /* border-bottom: 2px solid var(--white-color); */
    text-decoration: underline;
}

.translation {
    position: relative;
    margin-right: 20px;
}

.trans-top {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.trans-down-list {
    position: absolute;
    display: none;
    top: 30px;
    /* transition: all 0.3s ease; */
}

.trans-option {
    background-color: var(--Tertiary-color);
    padding: 15px 30px 15px 14px;
    border-radius: 10px;
}

.trans-option li a{
    color: var(--Font-Color);
    font-size: 14px;
    line-height: 2;
}

/* mo-header */
.header-mo {
    display: none;
    width: 100%;
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
}

.logo-mo a {
    display: block;
}

.translation-mo a {
    padding-bottom: 5px;
    opacity: 0.5;
}

.translation-mo a.on {
    border-bottom: 3px solid var(--white-color);
    opacity: 1;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    width: 30px;
    position: relative;
    /* margin-right: 20px; */
}

.menu-btn img {
    width: 100%;
    object-fit: cover;
}

.mo-nav {
    width: 100%;
    height: 100%;
}

.close-btn {
    background-color: transparent;
    border: 0;
    /* margin-right: 15px; */
}

.mo-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

/* 열렸을 때 상태 */
.mo-nav.is-open {
    transform: translateX(0);
}

.logo-mo img {
    cursor: pointer;
}

.mo-menu {
    padding: 0 20px;
}

.translation-mo {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

.menu-list-wrap-mo {
    margin-top: 50px;
}

.menu-list-mo li {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
    display: block;
}

.menu-list-mo li:last-child {
    margin-bottom: 0;
}

/* btn */
.move-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    padding: 10px 38px;
    border-radius: 10px;
    color: var(--main-color);
}

.move-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.move-btn:hover {
    background-color: var(--point-color);
    border-color: var(--point-color);
    color: var(--white-color);
}

.move-btn:hover path {
    stroke : var(--white-color);
}

/* footer */
.footer {
    background-color: var(--Font-Color);
    width: 100%;
    padding: 40px 20px;
    color: var(--white-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer-logo {
    align-self: center;
}

.footer-text {
    line-height: 1.5;
    flex: 1;
    font-size: 18px;
}

.footer-link {
    display: flex;
    gap: 10px;
    text-decoration: underline;
    font-size: 15px;
    margin-top: 10px;
}

.footer-sns {
    display: flex;
    align-self: flex-end;
    gap: 12px;
}


/* breakpoint */
@media(max-width:768px) {
    /* header */
    .header-pc {
    display: none;
    }

    .header-mo {
        display: block;
    }
}

@media(max-width:540px){
    /* footer */
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-sns {
        align-self: flex-start;
    }
}

@media(max-width:414px){
    .move-btn {
        padding: 10px 20px;
    }

    .move-btn a {
        font-size: 15px;
    }

    .move-btn svg {
        width: 7px;
        height: 12px;
    }

    /* footer */
    .footer-text {
        font-size: 15px;
    }


}