* {
    box-sizing: border-box;
}

body {
    color: var(--Font-Color);
    font-family: 'Pretendard';
    position: relative;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

:root {
    --main-color : #4A4167;
    --Secondary-color : #868BC3;
    --Tertiary-color : #F6F4F6;
    --Font-Color : #1B1F33;
    --white-color : #fff;
    --gray-color : #6A6B71;
    --light-gray-color : #E6E6E6;
    --point-color : #FB7395;
}

.sec-pd {
    padding: 150px 20px;
}

.title01 {
    font-family: 'Paperozi';
    font-size: 70px;
    font-weight: bold;
}

.title02 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
}

.pc-none {
    display: none;
}

/* header */
.header {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 100;
    overflow: visible;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    padding: 20px;
}

.menu-list {
    display: flex;
    gap: 60px;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    width: auto;
    position: relative;
    display: inline-block;
    align-self: stretch;
}

.menu::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 0;
    transition: width 0.3s ease;
}

.menu:hover::after{
    width: 100%;
}

.translation {
    position: relative;
    margin-right: 20px;
}

.trans-top {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.trans-down-list {
    position: absolute;
    display: none;
    top: 30px;
    left: 0;
    z-index: 120;
}

.trans-option {
    background-color: var(--Tertiary-color);
    padding: 15px 30px 15px 14px;
    border-radius: 10px;
    overflow: visible;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.trans-option li a{
    color: var(--Font-Color);
    font-size: 14px;
    line-height: 2;
}

/* mo-header */
.header-mo {
    display: none;
    width: 100%;
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
}

.logo-mo a {
    display: block;
}

.translation-mo a {
    padding-bottom: 5px;
    opacity: 0.5;
}

.translation-mo a.on {
    border-bottom: 3px solid var(--white-color);
    opacity: 1;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    position: relative;
}

.mo-nav {
    width: 100%;
    height: 100%;
}

.close-btn {
    background-color: transparent;
    border: 0;
}

.mo-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

/* 열렸을 때 상태 */
.mo-nav.is-open {
    transform: translateX(0);
}

.logo-mo img {
    cursor: pointer;
}

.mo-menu {
    padding: 0 20px;
}

.translation-mo {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

.menu-list-wrap-mo {
    margin-top: 50px;
}

.menu-list-mo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-list-mo li {
    font-weight: bold;
    font-size: 25px;
}

.menu-list-mo .menu {
    display: inline-block;
}

/* popup */
.header-popup {
    width: 400px;
    height: 200px;
    background-color: var(--white-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    border: 1px solid var(--Tertiary-color);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    display: none;
}

.notice-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-color);
    padding-top: 25px;
}

.notice-wrap p {
    font-size: 25px;
    font-weight: bold;
}

.header-popup > p {
    font-size: 18px;
    text-align: center;
    margin-top: 45px;
}

/* btn */
.move-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    padding: 10px 38px;
    border-radius: 10px;
    color: var(--main-color);
}

.move-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.move-btn:hover {
    background-color: var(--point-color);
    border-color: var(--point-color);
    color: var(--white-color);
}

.move-btn:hover path {
    stroke : var(--white-color);
}

.career-btn {
    display: block;
    width: 190px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--Secondary-color);
    border-radius: 100px;
    padding: 15px 20px;
    color: var(--Secondary-color);
    text-align: center;
}

.career-btn:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.more-btn {
    max-width: 219px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--Secondary-color);
    padding: 20px;
    color: var(--white-color);
    border-radius: 15px;
}

/* career sec */
.career-sec {
    width: 100%;
    height: 593px;
    position: relative;
    overflow: hidden;
}

.career-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.career-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carrer-text {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.carrer-text h2 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
    color: var(--white-color);
    margin-bottom: 10px;
}

.carrer-text p {
    font-size: 25px;
    color: var(--white-color);
    font-weight: bold;
    margin: 10px 0 40px;
}

.career-btn {
    font-family: 'Paperozi';
    display: flex;
    width: 16%;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid var(--Tertiary-color);
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.2);
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white-color);
}

.career-btn a {
    display: block;
}

.career-btn:hover {
    background-color: var(--Secondary-color);
    border-color: var(--Secondary-color);
}


/* carrer2 */
.career2-sec .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow-x: hidden;
}

.career2-text {
    width: 50%;
}

.career2-text h2 {
    margin-bottom: 20px;
}

.career2-text p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
}

.career2-img {
    width: 50%;
}

.career2-img img {
    display: block;
    width: 100%;
    object-fit: contain;
}

/* footer */
.footer {
    background-color: var(--Font-Color);
    width: 100%;
    padding: 40px 20px;
    color: var(--white-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer-logo {
    align-self: center;
}

.footer-text {
    line-height: 1.5;
    flex: 1;
    font-size: 18px;
}

.footer-link {
    display: flex;
    gap: 10px;
    text-decoration: underline;
    font-size: 15px;
    margin-top: 10px;
}

.footer-sns {
    display: flex;
    align-self: flex-end;
    gap: 12px;
}


/* breakpoint */
@media(max-width:1280px) {
    /* carrer sec */
    .carrer-text h2 {
        font-size: 60px;
    }

    .carrer-text p {
        font-size: 20px;
    }

    .career-btn {
        font-size: 20px;
    }

    /* career2 */
    .career2-text h2 {
        font-size: 45px;
    }
}

@media(max-width:1024px) {
    /* carrer */
    .carrer-text h2 {
        font-size: 50px;
    }

    .career-btn {
        font-size: 18px;
        width: 20%;
    }

    .career-btn svg {
        width: 15px;
        height: 15px;
    }

    /* career2 */
    .career2-sec .container {
        flex-direction: column;
        gap: 40px;
    }

    .career2-text {
        width: 100%;
    }

    .career2-img {
        width: 100%;
    }
}

@media(max-width:768px) {
    /* header */
    .header-pc {
    display: none;
    }

    .header-mo {
        display: block;
    }

    .sec-pd {
        padding: 80px 16px;
    }

    /* carrer */
    .career-btn {
        width: 30%;
    }

    /* career */
    .career2-text h2 {
        font-size: 35px;
    }

    .career2-text p {
        margin-bottom: 50px;
    }
}

@media(max-width:540px){
    .pc-none {
        display: block;
    }

    /* popup */
    .header-popup {
        width: 300px;
        height: 180px;
    }

    .notice-wrap p {
        font-size: 20px;
    }

    .header-popup > p {
        font-size: 15px;
    }

    /* btn */
    .more-btn {
        max-width: 150px;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    /* carrer */
    .career-btn {
        width: 40%;
    }    

    /* career2 */
    .career2-sec .container {
        gap: 20px;
    }

    .career2-text h2 {
        font-size: 30px;
    }

    .career2-text p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .career2-btn {
        font-size: 18px;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-sns {
        align-self: flex-start;
    }
}

@media(max-width:414px){
    /* popup */
    .header-popup {
        width: 100%;
        max-width: 250px;
        height: 180px;
    }

    .move-btn {
        padding: 10px 20px;
    }

    .move-btn a {
        font-size: 15px;
    }

    .move-btn svg {
        width: 7px;
        height: 12px;
    }

    /* carrer sec */
    .carrer-text h2 {
        font-size: 45px;
    }

    .carrer-text p {
        font-size: 18px;
    }

    .career-btn {
        max-width: 180px;
    }

    .career-btn svg {
        width: 12px;
        height: 12px;
    }    

    /* footer */
    .footer-text {
        font-size: 15px;
    }


}