body {
    color: var(--Font-Color);
    font-family: 'Pretendard';
}

li {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* btn */
.move-btn {
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    padding: 10px 38px;
    border-radius: 10px;
    color: var(--main-color);
}

.move-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.move-btn:hover {
    background-color: var(--point-color);
    border-color: var(--point-color);
    color: var(--white-color);
}

.move-btn:hover path {
    stroke : var(--white-color);
}