/* header */
.news-menu > a {
    border-bottom: 1px solid var(--white-color);
}

/* kv */
.kv-sec {
    position: relative;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
}

.kv-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.kv-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-text {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}

.kv-title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
}

.kv-sub {
    font-size: 25px;
    margin-top: 20px;
}