/* header */
.news-menu > a {
    text-decoration: underline;
}

/* kv */
.kv-sec {
    position: relative;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
}

.kv-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.kv-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-text {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}

.kv-title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
}

.kv-sub {
    font-size: 25px;
    margin-top: 20px;
}

/* news sec*/
.news-sec {
    width: 100%;
}

.news-sec h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 80px;
}

/* tab */
.Kategorie-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.kategorie-list {
    display: flex;
    gap: 16px;
}

.kategorie-list li {
    font-size: 25px;
    font-weight: bold;
    color: var(--Secondary-color);
    border: 1px solid var(--Secondary-color);
    padding: 14px 30px;
    border-radius: 100px;
    cursor: pointer;
}

.kategorie-list li.tab-on {
    background-color: var(--Secondary-color);
    color: var(--white-color);
}

.time-tab-list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.time-tab-list li {
    cursor: pointer;
    color: var(--gray-color);
}

.time-tab-list li.time-on {
    color: var(--Font-Color);
    font-weight: 600;
}

.time-tab {
    color: var(--gray-color);
}


.time-deco {
    width: 5px;
    height: 5px;
    background-color: var(--gray-color);
    border-radius: 50%;
}

/* news */
.news-list {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.news-all a {
    display: flex;
    gap: 16px;
}

.news-all a img {
    width: 45%;
    object-fit: cover;
}

.news-text h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.news-desc {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
}

.date {
    font-size: 15px;
    color: var(--gray-color);
}

.no-data {
    color: var(--gray-color);
    font-size: 35px;
    text-align: center;
    padding: 150px 0;
    display: none;
}

.news-btn-wrap {
    /* width: 100%; */
    background-color: transparent;
    margin-top: 80px;
    text-align: center;
}

.news-more-btn {
    width: 18%;
    display: flex;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    padding: 25px 20px;
    margin: 0 auto;
}

.news-more-btn:hover {
    background-color: var(--Secondary-color);
    border-color: var(--Secondary-color);
    color: var(--white-color);
}

.news-more-btn:hover path {
    stroke: var(--white-color);
}