@media(max-width:1280px) {
    /* kv */
    .kv-title {
        font-size: 60px;
    }
}

@media(max-width:1024px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

    /* studio */
    .studio-sec {
        flex-direction: column;
        gap: 50px;
    }

    .studio-text {
        width: 100%;
    }

    .studio-text h2 {
        font-size: 45px;
    }

    .studio-img-wrap {
        width: 100%;
    }

    /* banner */
    .banner-text h2 {
        font-size: 45px;
    }

    /* process */
    .process-text h2 {
        font-size: 45px;
    }

    .process-card-list {
        flex-wrap: wrap;
    }

    .process-card {
        width: 100%;
        height: auto;
    }
    
    .process-card img {
        width: 120px;
        height: 120px;
    }
}

@media(max-width:768px) {
    /* kv */
    .kv-title {
        font-size: 50px;
    }

    .kv-sub {
        font-size: 20px;
    }

    /* studio */
    .studio-text h2 {
        font-size: 35px;
    }

    .studio-text p {
        font-size: 20px;
    }

    /* banner */
    .banner-text h2 {
        font-size: 35px;
    }

    .banner-text p {
        font-size: 20px;
    }

    /* process */
    .process-card-list {
        margin-top: 50px;
    }

    .process-text h2 {
        font-size: 35px;
    }

    .process-text p {
        font-size: 20px;
    }

    .process-card h3 {
        font-size: 20px;
    }

    .process-card p {
        font-size: 18px;
    }
}

@media(max-width:540px) {
    .kv-title {
        font-size: 36px;
    }

    .kv-sub {
        font-size: 18px;
    }

    /* studio */
    .studio-text h2 {
        font-size: 30px;
    }

    .studio-deco {
        margin: 20px 0;
    }

    .studio-text p {
        font-size: 18px;
    }

    .studio-img-wrap {
        flex-direction: column;
        gap: 16px;
    }

    .studio-img-wrap img {
        width: 100%;
        height: 200px;
    }

    /* banner */
    .banner-text h2 {
        font-size: 30px;
    }

    .banner-text p {
        font-size: 18px;
    }

    /* process */
    .process-card-list {
        margin-top: 50px;
    }

    .process-text h2 {
        font-size: 30px;
    }

    .process-text p {
        font-size: 18px;
    }

    .process-card img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

}
