:root {
    --main-color : #4A4167;
    --Secondary-color : #868BC3;
    --Tertiary-color : #EEEFF4;
    --Font-Color : #1B1F33;
    --white-color : #fff;
    --gray-color : #9C9C9C;
    --light-gray-color : #E6E6E6;
    --point-color : #FB7395;
}

/* header */
.header {
    /* background-color: var(--main-color); */
    width: 100%;
    height: 90px;
    position: fixed;
    /* top: 30px; */
    /* left: auto; */
    z-index: 99;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    margin-top: 25px;
}

.menu-list {
    display: flex;
    gap: 60px;
    font-weight: bold;
    font-size: 20px;
}

.menu:hover {
    border-bottom: 1px solid var(--white-color);
}

.translation {
    position: relative;
}

.trans-top {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.trans-down-list {
    position: absolute;
    display: none;
    top: 30px;
    /* transition: all 0.3s ease; */
}

.trans-option {
    background-color: var(--Tertiary-color);
    padding: 15px 30px 15px 14px;
    border-radius: 10px;
}

.trans-option li a{
    color: var(--Font-Color);
    font-size: 14px;
    line-height: 2;
}


/* kv-sec */
.kv-sec {
    position: relative;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
}

.kv-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.kv-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-text {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 16px;
}

.kv-title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
}

.kv-sub {
    font-size: 25px;
    margin-top: 20px;
}

/* game-sec */
.game-sec {
    margin: 150px 0;
    position: relative;
    width: 100%;
}

/* slide */
.game-swiper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.swiper {
    width: 100%;
}

.game-slide {
    width: 70% !important;
}

.slide-wrap {
    display: flex;
    gap: 36px;
    /* width: 100%; */
    padding: 0 20px;
    align-items: center
}

.slide-img {
    /* width: 60%; */
    width: 65%;
    overflow: hidden;
    border-radius: 20px;
}

.slide-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.slide-text {
    flex: 1;
}

.keyword {
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.keyword span {
    color: var(--point-color);
}

.info-text {
    margin: 10px 0 30px;
}

.info-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-text p {
    font-size: 20px;
}

.more-cta-wrap {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-color);
    padding-bottom: 50px;
    border-bottom: 1px solid var(--gray-color);
}

.more-cta-wrap a {
    text-decoration: none;
    display: block;
}

.store-icon {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    width: 24px;
    height: 24px;
}

/* 좌우 네비 버튼 */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 11;
  /* background-color: var(--Tertiary-color); */
  border-radius: 50%
}

.prev {
  left: 120px;
  background-color: #EEEFF480;
  padding: 15px;
}

.next {
  right: 120px;
  background-color: #EEEFF480;
  padding: 15px;
}


/* studio info sec */
.studio-info-sec {
    width: 100%;
}

.studio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 172px;
}

.studio-info-text{
    width: 40%;
}

.studio-info-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.studio-info-text p {
    font-size: 25px;
    margin-bottom: 30px;
}

.studio-info-img {
    width: 65%;
    border-radius: 20px;
    overflow: hidden;
}

.studio-info-img img {
    width: 100%;
}

/* news sec */
.news-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-text p {
    font-size: 25px;
    margin-bottom: 30px;
}

/* news-slide */
.news-swiper {
    margin-top: 50px;
}

.news-wrap {
    height: 430px;
    transition-timing-function: linear !important;
}

.news-slide a {
    display: block;
    border-radius: 20px;
    background-color: var(--main-color);
    width: 100%;
}

.news-slide a img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.news-sub-text p {
    font-size: 20px;
    font-weight: 500;
    color: var(--Tertiary-color);
    padding: 20px;
}

.news-sub-text h3 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    font-weight: bold;
    color: var(--white-color);
    padding: 20px 20px 86px;
}