/* kv-sec */
.kv-sec {
    position: relative;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
}

.kv-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.kv-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-text {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}

.kv-title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
}

.kv-sub {
    font-size: 25px;
    margin-top: 20px;
}

/* game-sec */
.game-sec {
    margin: 150px 0;
    position: relative;
}

.game-title {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 0 20px;
}

/* slide */
.game-swiper {
    /* margin: 0 auto; */
    /* width: 100%; */
    position: relative;
}

.slide-wrap {
    display: flex;
    gap: 36px;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    /* max-width: 1400px */
}

.slide-img {
    /* width: 928px; */
    width: 65%;
    /* height: 500px; */
    overflow: hidden;
    border-radius: 20px;
}

.slide-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.slide-text {
    /* flex: 1; */
    width: 35%;
}

.keyword {
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.keyword span {
    color: var(--point-color);
}

.info-text {
    margin: 10px 0 30px;
}

.info-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-text p {
    font-size: 20px;
}

.more-cta-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-color);
    padding-bottom: 50px;
    border-bottom: 1px solid var(--gray-color);
}

.more-cta-wrap a {
    display: block;
}

.store-icon {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    width: 24px;
    height: 24px;
}

/* 좌우 네비 버튼 */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 11;
  border: 1px solid var(--Secondary-color);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.prev {
  left: 8%;
  padding: 6px;
}

.next {
  right: 8%;
  padding: 6px;
}


/* studio info sec */
.studio-info-sec {
    width: 100%;
}

.studio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 172px;
    padding: 0 20px;
}

.studio-info-text{
    width: 40%;
}

.studio-info-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.studio-info-text p {
    font-size: 25px;
    margin-bottom: 30px;
}

.studio-info-img {
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
}

.studio-info-img img {
    width: 100%;
}

/* news sec */
.news-sec {
    margin-top: 150px;
}

.news-text {
    padding: 0 20px;
}

.news-text h2 {
    font-family: 'Paperozi';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-text p {
    font-size: 25px;
    margin-bottom: 30px;
}

/* news-slide */
.news-swiper {
    margin-top: 50px;
}

.news-wrap {
    /* height: 430px; */
    transition-timing-function: linear !important;
}

.news-slide a {
    display: block;
    border-radius: 20px;
    background-color: var(--main-color);
    width: 100%;
}

.news-slide a img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.news-sub-text p {
    font-size: 20px;
    font-weight: 500;
    color: var(--Tertiary-color);
    padding: 20px;
}

.news-sub-text h3 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    font-weight: bold;
    color: var(--white-color);
    padding: 0px 20px 86px;
}

/* career sec */
.career-sec {
    width: 100%;
    height: 593px;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
    /* background-image: url(../images/career_bg1.png); */
}

.career-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.career-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carrer-text {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.carrer-text h2 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Paperozi';
    color: var(--white-color);
    margin-bottom: 10px;
}

.carrer-text p {
    font-size: 25px;
    color: var(--white-color);
    font-weight: bold;
    margin: 10px 0 40px;
}

.career-btn {
    font-family: 'Paperozi';
    display: flex;
    width: 16%;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid var(--Tertiary-color);
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.2);
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white-color);
}

.career-btn a {
    display: block;
}

.career-btn:hover {
    background-color: var(--Secondary-color);
    border-color: var(--Secondary-color);
}


